# Names / Patterns of files that Git should ignore

# Copyright (c) 2019 Aubrey Barnard.  This is free, open software
# released under the MIT License.  (See `LICENSE.txt` for details.)

# Ignore backup files
*~

# Ignore compiled Python
__pycache__
*.pyc
*.pyo
